<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/layout/style.css">
    <link rel="stylesheet" href="css/module/top-bar.css">

    <script type="module" src="../controler/web-components/components-controller.js"></script>
    <title>Livraria Online</title>
</head>
<body>

    <top-bar></top-bar>

    <main>

        <h2>Categorias</h2>

        <section id="gallery-wrapper">
            <div id="gallery">
                <div class="card" id="item current-item">
                    <img src="https://source.unsplash.com/random/250x250/?beach" alt="img">
                    <h3>Título</h3>
                </div> 
                
                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?animal" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?car" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?sun" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?kid" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?school" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?music" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?night" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?home" alt="img">
                    <h3>Título</h3>
                </div>
            </div>
            
        </section>

        <h2>Categorias</h2>

        <section id="gallery-wrapper">
            <div id="gallery">
                <div class="card" id="item current-item">
                    <img src="https://source.unsplash.com/random/250x250/?beach" alt="img">
                    <h3>Título</h3>
                </div> 
                
                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?animal" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?car" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?sun" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?kid" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?school" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?music" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?night" alt="img">
                    <h3>Título</h3>
                </div> 

                <div class="card" id="item">
                    <img src="https://source.unsplash.com/random/250x250/?home" alt="img">
                    <h3>Título</h3>
                </div>
            </div>
            
        </section>
        
    </main>

    <footer>

        <div class="buttons">
            <button id="home">
                <img src="img/icones/CgArrowDownOicon.png" alt="Inicio" >    
            </button>

            <button id="galery">
                <img src="img/icones/CgDatabaseicon.png" alt="Galeria" >
            </button>    
        </div>
        
        <input type="text" id="search">
        <div class="menu">
            <button id="" onclick="">
                <img src="img/icones/CgMenuicon.png" alt="Menu" >
            </button>    
        </div>
        

    </footer>

</body>
</html>